body{
    background-color: black;
}
.fondo{
    background: linear-gradient( rgb(127, 244, 3) 35%,yellow 70%, rgb(231, 225, 45) 80%);
    width: 1520px;
    height: 675px;
}
.contenedor{
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    top: 280px;
}
.texto{
    display: flex;
    position: relative;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    top: 150px;
}
.botonReini{
    display: flex;
    position: relative;
    font-family: cursive;
    align-items: center;
    align-items: center;
    justify-content: center;
    top: 300px;
}input{
    background-color: rgb(238, 219, 196);
    border-radius: 10px;
    font-family: cursive;
    text-align: center;
}
button{
    background-color: rgb(251, 255, 196);
    border-radius: 10px;
    font-family: cursive;
}