body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.fondo{
    background: linear-gradient( rgb(127, 244, 3) 35%,yellow 70%, rgb(231, 225, 45) 80%);
    width: auto;
    max-width: 1920px;
    height: auto;
    min-height: 690px;
    margin: auto 0;
}
.contenedor{
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    top: 290px;
}
.texto{
    display: flex;
    position: relative;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    top: 150px;
}
.botonReini{
    display: flex;
    position: relative;
    font-family: cursive;
    align-items: center;
    align-items: center;
    justify-content: center;
    top: 300px;
}
.parrafo{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: -50px;
    font-family: cursive;
}
input{
    background-color: rgb(238, 219, 196);
    border-radius: 10px;
    font-family: cursive;
    text-align: center;
}
button{
    background-color: rgb(251, 255, 196);
    border-radius: 10px;
    font-family: cursive;
}
.atras{
    display: flex;
    position: absolute;
    top: 580px;
    left: 20px;
    width: 100px;
    height: 100px;
}
#siguienteBT{
    display: flex;
    position: absolute;
    top: 620px;
    right: 30px;
    width: 85px;
    height: 40px;
    font-family: fantasy;
    font-size: 30px;
    background-color: rgb(13, 14, 14);
    border-radius: 5px;
    color: white;
}